footer {

  bottom: 0;
  left: 0;
  width: 100%;
  padding: auto $gutter-medium $gutter-default;
  font-size: 1.1rem;
  text-align: center;

  a {
    font-size: 1.1rem;
    color: $dazzling-blue;
  }

  @include responsive-for(desktop) {
    position: absolute;
    font-size: 1.2rem;
    color: $granulated-sugar;

    a,
    a:visited,
    a:active {
      font-size: 1.2rem;
      color: $granulated-sugar;
    }
  }
}
