footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: auto $gutter-medium $gutter-default;
  font-size: 1.1rem;
  text-align: center;

  a {
    font-size: 1.1rem;
    color: $dazzling-blue;
  }
}
