/* Color Palette */
$granulated-sugar: hsl(0, 0%, 100%);
$bitter-liquorice:  #242742;
$old-mill: hsl(235, 18%, 26%);
$dark-knight: hsl(243, 28%, 13%);
$vermellion: hsl(4, 100%, 67%);
$dazzling-blue: hsl(228, 45%, 44%);


$gutter-default: 2.4rem;
$gutter-medium: 4rem;
$border-radius-default-mobile: .8rem;
$border-radius-default-desktop:1.6rem;
$font-size-default: 1.6rem;
